body {
      background-image: url("chrismas-background.jpg"); /* Replace with your image filename */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
