body {
    margin: 0;
    padding: 0;
    cursor: url("images/a.png"), auto;
    font-family: Georgia, serif;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
}

.topright {
    position: absolute;
    top: 7px;
    right: 16px;
}

.font {
    color: #911a1a; /* Red */
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.petit {
    color: #04300b; /* Dark green */
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

.boite {
    display: inline-block;
    text-align: left;
    border: 0.5em solid #fdf6f6;
    background-color: rgba(157, 240, 160, 0.8);
    padding: 1em;
    margin: 1em;
    width: 50%;
    color: black;
}

.boite2 {
    display: inline-block;
    text-align: left;
    border: 0.5em solid #fdf6f6;
    background-color: rgba(173, 6, 6, 0.8);
    padding: 1em;
    margin: 1em;
    width: 50%;
    color: rgb(208, 236, 201);
}

.titre {
    display: inline-block;
    text-align: left;
    border: 0.2em solid #c3f7eb;
    background-color: rgba(194, 11, 11, 0.6);
    padding: 1em;
    margin: 1em;
    width: 60%;
    color: black;
}

@media (max-width: 600px) {
    .boite {
        width: 90%;
    }

    img {
        max-width: 90%;
        height: auto;
    }

    .topleft img, .topright img {
        width: 80px;
    }

    .font {
        font-size: 24px;
    }

    .petit {
        font-size: 14px;
    }
}
